@import url("https://fonts.googleapis.com/css2?amily=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

.reusableInput {
	--font-main: "Noto Sans Jp", sans-serif;
	--font-alt: "Ubuntu Mono", sans-serif;
}
.reusableInput input {
	outline: none;
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 15px;
}
.reusableInput .default {
	border: 1px solid #828282;
	border-radius: 8px;
	width: 100%;
	display: flex;
	align-items: center;
}

.default:hover {
	border-color: #333333;
}
.default:focus-within {
	border-color: #2962ff;
}
.reusableInput .focus {
	border-color: #2962ff;
}
.reusableInput .hover {
	border-color: #333333;
}
.reusableInput .error {
	border-color: #d32f2f;
}
.reusableInput .error:hover {
	border-color: #333333;
}
.reusableInput .error:focus {
	border-color: #d32f2f;
}
.reusableInput .disabled,
.reusableInput .disabled > input {
	background-color: #f2f2f2;
	border-color: #e0e0e0;
	color: #828282;
}
.reusableInput .material-icons {
	margin: 12px;
}
.reusableInput .sm > input {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 10px;
}

.reusableInput .fullWidth,
.reusableInput .fullWidth > input {
	width: 1000px;
}

.reusableInput textarea {
	outline: none;
	resize: none;
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 15px;
}
.reusableInput textarea:hover {
	border-color: #333333;
}
.reusableInput textarea:focus {
	border-color: #2962ff;
}
